1)	Realizar un programa que genere y almacene en una lista N números 
aleatorios comprendidos entre 1 y 100, posteriormente, los ordene de menor a mayor y los muestre por pantalla.

In [40]:
import random as rd
n=int(input("ingrese a cantidad de numeros aleatorios  que quiere generar : "))

lista=[rd.randint(1,100) for _  in range(n)]

listaOrdenada=sorted(lista)

print("estos son los numeros aleatorios en orden ")
print(listaOrdenada)

estos son los numeros aleatorios en orden
[3, 10, 14, 17, 25, 32, 36, 37, 47, 48, 50, 51, 55, 71, 71, 80, 86, 87, 90, 91]

2)	Realizar un programa que inicialice una lista con 50 valores aleatorios (del 1 al 1000) y posteriormente muestre en pantalla cada elemento de la lista, la lista ordenada, el número menor y el número mayor, el cuadrado y el cubo de cada elemento.

In [44]:

lista=[rd.randint(1,1000) for _ in range(50)]
listaOrdenada=sorted(lista)

print(listaOrdenada)

menor=min(listaOrdenada)
mayor=max(listaOrdenada)
print(f"\n el numero Mayor es {mayor}")
print(f"\n el numero Menor es {menor}")
for num in listaOrdenada:
    print(f"\n numero :{num},el cuadrado es {num**2} y el cubo es {num**3} ")

[35, 59, 68, 72, 76, 83, 84, 85, 92, 142, 145, 157, 160, 162, 182, 201, 219, 266, 285, 319, 337, 401, 403, 459, 480, 512, 532, 551, 564, 573, 592, 642, 653, 668, 680, 692, 702, 703, 707, 780, 812, 832, 839, 843, 868, 871, 880, 903, 954, 985]

 el numero Mayor es 985

 el numero Menor es 35

 numero :35,el cuadrado es 1225 y el cubo es 42875

 numero :59,el cuadrado es 3481 y el cubo es 205379

 numero :68,el cuadrado es 4624 y el cubo es 314432

 numero :72,el cuadrado es 5184 y el cubo es 373248

 numero :76,el cuadrado es 5776 y el cubo es 438976

 numero :83,el cuadrado es 6889 y el cubo es 571787

 numero :84,el cuadrado es 7056 y el cubo es 592704

 numero :85,el cuadrado es 7225 y el cubo es 614125

 numero :92,el cuadrado es 8464 y el cubo es 778688

 numero :142,el cuadrado es 20164 y el cubo es 2863288

 numero :145,el cuadrado es 21025 y el cubo es 3048625

 numero :157,el cuadrado es 24649 y el cubo es 3869893

 numero :160,el cuadrado es 25600 y el cubo es 4096000

 numero :162,el cuadrado es 26244 y el cubo es 4251528

 numero :182,el cuadrado es 33124 y el cubo es 6028568

 numero :201,el cuadrado es 40401 y el cubo es 8120601

 numero :219,el cuadrado es 47961 y el cubo es 10503459

 numero :266,el cuadrado es 70756 y el cubo es 18821096

 numero :285,el cuadrado es 81225 y el cubo es 23149125

 numero :319,el cuadrado es 101761 y el cubo es 32461759

 numero :337,el cuadrado es 113569 y el cubo es 38272753

 numero :401,el cuadrado es 160801 y el cubo es 64481201

 numero :403,el cuadrado es 162409 y el cubo es 65450827

 numero :459,el cuadrado es 210681 y el cubo es 96702579

 numero :480,el cuadrado es 230400 y el cubo es 110592000

 numero :512,el cuadrado es 262144 y el cubo es 134217728

 numero :532,el cuadrado es 283024 y el cubo es 150568768

 numero :551,el cuadrado es 303601 y el cubo es 167284151

 numero :564,el cuadrado es 318096 y el cubo es 179406144

 numero :573,el cuadrado es 328329 y el cubo es 188132517

 numero :592,el cuadrado es 350464 y el cubo es 207474688

 numero :642,el cuadrado es 412164 y el cubo es 264609288

 numero :653,el cuadrado es 426409 y el cubo es 278445077

 numero :668,el cuadrado es 446224 y el cubo es 298077632

 numero :680,el cuadrado es 462400 y el cubo es 314432000

 numero :692,el cuadrado es 478864 y el cubo es 331373888

 numero :702,el cuadrado es 492804 y el cubo es 345948408

 numero :703,el cuadrado es 494209 y el cubo es 347428927

 numero :707,el cuadrado es 499849 y el cubo es 353393243

 numero :780,el cuadrado es 608400 y el cubo es 474552000

 numero :812,el cuadrado es 659344 y el cubo es 535387328

 numero :832,el cuadrado es 692224 y el cubo es 575930368

 numero :839,el cuadrado es 703921 y el cubo es 590589719

 numero :843,el cuadrado es 710649 y el cubo es 599077107

 numero :868,el cuadrado es 753424 y el cubo es 653972032

 numero :871,el cuadrado es 758641 y el cubo es 660776311

 numero :880,el cuadrado es 774400 y el cubo es 681472000

 numero :903,el cuadrado es 815409 y el cubo es 736314327

 numero :954,el cuadrado es 910116 y el cubo es 868250664

 numero :985,el cuadrado es 970225 y el cubo es 955671625

3)	Realizar un programa que cree una lista y se inicialice con 10 cadenas de caracteres leídas por teclado relacionadas con animales. Seguidamente, copiar los elementos de la lista en otra lista, pero ordenadas alfabéticamente y muestra sus elementos por la pantalla.

In [45]:
animales=[]

for i in range(10):
    animal=input(f"ingrese el Nombre de un animal: {i+1}/10")
    animales.append(animal)
animalesorden=sorted(animales)
print(animalesorden)

['calvo', 'carlos', 'cristian', 'dodo', 'lobo', 'loro', 'pato', 'perro', 'pollo', 'vaca']

4)	Realizar un programa que lea por teclado 7 materias con sus respectivas notas (comprendidas entre 1 a 5). Luego, el programa debe mostrar el promedio de las notas, la nota media, la nota más alta y la nota más baja.

In [46]:
materias=[]
for i in range(7):
    notas=float(input(f"Ingrese las notas de las materias : {i+1}/7 (entre 1 y 5)"))
    materias.append(notas)
 
while  notas >5:
          nota = float(input("Nota inválida. Por favor, ingrese una nota entre 1 y 5: "))
        
promedio=sum(materias)/len(materias)
notaMedia=sorted(materias)[len(materias)//2]
notaAlta=max(materias)
notaBaja=min(materias)

print(f"El promedio de las notas es {promedio:.2f},La Media es {notaMedia}, la nota mas alta es {notaAlta},la nota mas baja es {notaBaja}")

El promedio de las notas es 3.27,La Media es 3.3, la nota mas alta es 5.0,la nota mas baja es 0.4

5)	Generar un programa que almacene en listas los nombres y las edades de cada uno de los alumnos de un curso. El programa debe mostrar: los nombres de los alumnos mayores de edad, el promedio de las edades, el estudiante de mayor edad y el estudiante de menos edad.

In [49]:
nombres=[]
edades=[]
while True:
    nombre=input("ingrese los nombres de los estudiantes (o presione Ent para terminar): ")
    if nombre== "":
        break
    edad=int(input(f"Ingrese la edad de {nombre} "))
    nombres.append(nombre)
    edades.append(edad)


promedioEdades=sum(edades)/len(edades)
MayorEdad=edades.index(max(edades))
menorEdad=edades.index(min(edades))

for i, edad in enumerate(edades):
    if edad >=18:
        
        print(f"{nombres[i]} es mayor de edad")
print(f"el promedio de edad de tus estudiantes es {promedioEdades:.2f}")
print(f"Estudiante de mayor edad: {nombres[MayorEdad]} ({edades[MayorEdad]} años)")
print(f"Estudiante de menor edad: {nombres[menorEdad]} ({edades[menorEdad]} años)")

juan es mayor de edad
Brua}nal es mayor de edad
el promedio de edad de tus estudiantes es 16.00
Estudiante de mayor edad: Brua}nal (19 años)
Estudiante de menor edad: pedro (12 años)

6)	Generada una lista con n números enteros y un entero k, escribir programa que:

a)	Devuelva tres listas, una con los menores, otra con los mayores y otra con los iguales a k.

b)	Devuelva una lista con aquellos que son múltiplos de k, para saber si un número es múltiplo se debe utilizar el módulo (%)

In [69]:
n=int(input("ingrese el Valor N :"))
numeros=[]
for i in range (n):
    number=int(input(f"ingrese el numero {i+1}"))
    numeros.append(number)
k=int(input("ingrese el Valor K :"))

menor=[]
mayor=[]
iguales=[]

for num in numeros:
    if num > k:
        mayor.append(num)
    elif num < k:
        menor.append(num)
    else:
        iguales.append(num)
multiplos=[]

for num in numeros:
    if num % k == 0:
        multiplos.append(num)
    
print(f"la lista de mayores son: {mayor},la lista de menores son: {menor}, los iguales son: {iguales} y la lista de multiplos{multiplos}")

la lista de mayores son: [12, 16],la lista de menores son: [1], los iguales son: [4] y la lista de multiplos[4, 12, 16]

7)	Dada una lista de números enteros, escribir un programa que:

a)	Devuelva una lista con todos los números primos de la lista.

b)	Devuelva la sumatoria y el promedio de los valores.

c)	Devuelva una lista con la factorial de cada uno de esos números.

In [77]:
import math as mt 
ne=[2,3,4,7,30,42,15]
primos=[]
for n in ne:
    if n > 1:
        es_primo=True
        for i in range(2,int(n**0.5 )+1):
            if n % i==0:
                es_primo=False
                break
        if es_primo:
            primos.append(n)
print("Números primos:", primos)

suma = 0
for n in lista:
    suma += n

promedio = suma / len(lista) if lista else 0

print("Suma:", suma)
print("Promedio:", promedio)
factoriales=[]
for n in ne:
    factoriales.append(mt.factorial(n))
print("Factoriales:", factoriales)

Números primos: [2, 3, 7]
Suma: 54
Promedio: 6.0
Factoriales: [2, 6, 24, 5040, 265252859812191058636308480000000, 1405006117752879898543142606244511569936384000000000, 1307674368000]

8)	Queremos guardar la temperatura mínima y máxima de 5 días. Realiza un programa que de la siguiente información:

a)	La temperatura media de cada día

b)	Los días con menos temperatura

c)	Se lee una temperatura por teclado y se muestran los días cuya temperatura máxima coincide con ella. si no existe ningún día se muestra un mensaje de información.

In [93]:

temp2=[]
dias=[]
temp=[]
for i in range(5):
    diasTemp=input(f"ingrese el dia que quiere registrar la temperatura {i+1} /5")
    if diasTemp == "":
        break
    temperaturas=int(input(f"ingrese la temperatura de {diasTemp}"))
    dias.append(diasTemp)
    temp.append(temperaturas)

        
temperaturamin=(min(temp))
temperaturamax=(max(temp))
temperaturamd=sum(temp)/len(temp)
comparar=int(input(f"escribe la temperatura que quieres comparar"))
for i, (temperaturamax) in enumerate(temp):
    if temperaturamax == comparar:
        temp2.append(dias[i])


print(f"la temperatura media es {temperaturamd} : ")
print(f"la temperatura maxima es {temperaturamax} : ")
print(f"la temperatura minima es : {temperaturamin}  ")
print(f"los dias que coinciden son : {temp2} ")

la temperatura media es 31.0 :
la temperatura maxima es 35 :
la temperatura minima es : 20
los dias que coinciden son : ['viernes']

9)	De una empresa de transporte se requiere guardar el nombre de los conductores y los kilómetros que conducen cada día de la semana. Para guardar esta información se van a utilizar dos listas:

•	Nombre: Lista para guardar los nombres de los conductores.

•	kms: Tabla para guardar los kilómetros que realizan cada día de la semana.

Se requiere generar una nueva lista ("total_kms") con los kilómetros totales que realiza cada conductor. Al finalizar se muestra la lista con los nombres de conductores y los kilómetros que ha realizado.

In [141]:
nombresDePanzones=[]
kms=[]
total_kms=[]
kmXconductor=[]

conductores=int(input("cuantos conductores quieres registar: "))

for i in range(conductores):
    nombres=input(F"ingresa los nombres de cada uno  : ")
    if nombres == "":
        break
    for dia in range(7):
        kilometro=int(input(f"ingrese los kilometros de el dia, {dia+1} para {nombres}"))
        kms.append(kilometro)
        total_kms=sum(kms)
    nombresDePanzones.append(nombres)
    kmXconductor.append(kms)
for i, nombre in enumerate(nombresDePanzones):
    kms = kmXconductor[i]
    total_kms = sum(kms)
    print(f"\nEl conductor {nombre} recorrió estos kilómetros por día: {kms}")
    print(f"Y en total recorrió: {total_kms} kilómetros.")

El conductor juan recorrió estos kilómetros por día: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Y en total recorrió: 14 kilómetros.

El conductor pedro recorrió estos kilómetros por día: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Y en total recorrió: 14 kilómetros.
el conductor
['juan', 'pedro'] recorrio estos kilometros [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] y en total fueron 14

10)	Generar un programa en Python que resuelva la siguiente serie geométrica:
 ![image.png]()
 
Una serie geométrica es aquella en la que cada término se obtiene multiplicando el anterior por una constante, llamada razón r. En este ejemplo, la razón r = ½.

In [142]:

a = 1  
r = 1/2  


S = a / (1 - r)


print(f"La suma de la serie geométrica infinita es: {S}")

La suma de la serie geométrica infinita es: 2.0